.statistics{
    width: 500px;
    min-height: 90px;

    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: #fffdfd;
    border: solid;
    border-color: #7c7c7c;
    border-width: 1px;
}

.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    color: #7c7c7c;
}

.statList{
    display: flex;
    /* background-color: black; */
}

.statList li{
    width: 100px;   
    padding: 0px 10px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #faf9f9;
}

.item .label {
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        color: #fefdfd;
}

.item .percentage {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.6;
    color: #fefdfd;
}